timm==1.0.7
thop
pytorch==1.13.1
einops
grad-cam==1.5.4
dill==0.3.8
albumentations==1.4.11
pytorch_wavelets==1.3.0
tidecv
PyWavelets
opencv-python
prettytable
ultralytics>=8.0.147
openmim
mmengine
"mmcv>=2.0.0"